**/**/CMakeFiles
**/**/*.cmake
**/**/*.mat
**/**/.idea
build/
devel/
data/
install/
**/cmake-build-debug
**/**/Make*
**/**/catkin_generated
**/**/atomic_configure
**/src/CTestConfiguration.ini
.catkin_workspace
.spyproject
.catkin_tools
logs/
**/**/pickles
**/**/.idea
**/*.rviz
# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Launch files 
launch/wais.launch
